[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"
pycodestyle = "*"
pytz = "*"
toml = "*"
sqlparse = "*"
markdown = "*"
django-filter = "*"
django-paypal = "*"
paypal = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.9"
