ul{
    list-style: none;
    margin-top: 70px;
}
.subscribe-warp{
    padding-top: 180px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.line-through{
    text-decoration: line-through;
}
p{
    margin-top: 13px;
}
.select-kit{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.starter-kit-sel{

}

.advanced-kit-sel{
    margin-left: 20px;
}
.premium-kit-sel{
    margin-left: 20px;
}
.starter-kit-sel:link{
    color: #151515;
}

.clicked{
    color: rgb(88 101 242);
}

.starter-kit-sel:hover, .advanced-kit-sel:hover, .premium-kit-sel:hover{
    cursor: pointer;
}

.month-year-warp{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: 50px;

}
.month-warp{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.month-content{
    background: linear-gradient(to top,#FFDDDD,#DDDDFF);
    width: 50%;
    border-radius: 20px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    transform: scale(1.0);
    transition   : 0.2s ease;
    margin-left: 200px;

}
.month-content:hover{
    transform: scale(1.025);
    transition   : 0.2s ease;
}
.year-warp{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.year-content{
    background: linear-gradient(to top,#FFDDDD,#DDDDFF);
    width: 50%;
    border-radius: 20px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-right: 200px;

}
.year-content:hover{
    transform: scale(1.025);
    transition   : 0.2s ease;
}
.option-warp{
    width: 100%;
    height: 600px;
    /*margin-top: 50px;*/
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;

}
.option-month{
    background: white;
    width: 300px;
    height: 100px;
}

.option-year{
    background: #d64141;
    width: 300px;
    height: 100px;
}
.payment-bnt{
    margin-top: 300px;
    width: 100px;
    height: 45px;
    border-radius: 4px;
    color: #fff;
    /*background: rgba(88,101,242,255);*/
    position: absolute;
}
.payment-bnt:hover{
    cursor: pointer;
    /*background-color: #151515;*/

}

table{
    width: 650px;
    height: 100px;
    margin-top: 40px;
    border-radius: 20px;
    border-collapse: collapse;
    background: white;
    border-top: none;
    color: #151515;
    text-align: center;

}

th, td{
    border-bottom: none;
}
h1, h2, h3, h4, h5{
    color: #5865f2;
}
.check{
    font-size: 23px;
}
.service-title{
    margin-top: 90px;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
